* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Light */
:root {
	--bg-color: #F2F2F0;
	--primary-color: #382F59;
	--secundary-color: #201B40;
	--error-color: #EF3054;

	--switch-color: #382F59;
}

body {
	background-color: var(--bg-color);
	color: var(--secundary-color);
	font-family: "Ubuntu", sans-serif;
}


section.container {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
	display: block;
	margin: 0 auto;
	max-width: 25rem;
	position: relative;
}

header,
section.copy-container {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

header {
	padding: 2rem 0;
}

section.copy-container {
	margin-top: 1rem;
}

.theme {
	display: flex;
	align-items: center;
	font-size: 11px;
}
.theme h3 {
	margin-right: 1em;
}

#themeSwitcher {
	display: none;
}
.button {
	position: relative;
	top: 2px;
	display: inline-block;
	width: 50px;
	height: 20px;
	background-color: var(--switch-color);
	border-radius: 30px;
	position: relative;
	cursor: pointer;
}
.button::after {
	content: '';
	width: 20px;
	height: 20px;
	background-color: var(--bg-color);
	border: 2px solid var(--primary-color);
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, .25);
	position: absolute;
	top: -2px;
	left: 0;
	display: grid;
	place-content: center;
	line-height: 0;
	transition: 0.2s ease-in;
}
#themeSwitcher:checked + .button::after {
	content: '';
	background-color: #181426;
	left: 26px;
	transform: rotate(360deg);
	transition: 0.2s ease-in;
}


button {
	background-color: var(--primary-color);
	border: none;
	border-radius: .25rem;
	font-weight: 700;
	padding: .5rem 1rem;
	transition: .15s;
}

input {
	background-color: var(--bg-color);
	border: 2px solid var(--secundary-color);
	border-radius: .5rem;
	color: var(--secundary-color);
	display: block;
	font-size: 1.75rem;
	margin: 0 auto;
	padding: 0.7rem;
	text-align: end;
	width: 100%;
	outline: none;
}

#keys {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
	margin: 2rem 0;
}

#keys button {
	color: var(--bg-color);
	cursor: pointer;
	font-size: 1.5rem;
	padding: 1rem;
}

#keys button:hover {
	filter: brightness(0.8);			
}

#result {
	border: none;
	font-size: 1.5rem;
}

#copyToClipboard {
	background-color: transparent;
	border:  1px solid var(--secundary-color);
	border-radius: .5rem;
	color: var(--secundary-color);
	cursor: pointer;
	display: block;
	height: 3rem;
	width: 7rem;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.error {
	background-color: var(--error-color);
}

.success {
	border-color: var(--primary-color) !important;
	color: var(--primary-color) !important;
}